*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    -webkit-padding: 0.4em 0;
    padding: 0.4em;
    margin: 0 0 0.5em 0;
    border: none;
    outline: 1px solid darkblue;
    border-radius: 2px;
    cursor: pointer;
    transition: all, .8s, linear;
}

input:disabled {
    color: #ccc;
}

button {
    color: #333;
    background-color: rgb(255, 233, 205);
    outline: 1px solid darkblue;
}

input:hover,
input:active,
select:hover,
select:active{
    outline: 2px solid darkblue;
}
